---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import HomeLinks from '../components/HomeLinks.astro';
import { Icon } from 'astro-icon';
import TechStack from '../components/TechStack.astro';
import Button from '../components/Button.astro';
import { Octokit } from 'octokit';

const octokit = new Octokit({
  auth: process.env.GITHUB_TOKEN,
});

const result = await octokit.request('GET /users/cammarb/repos', {
  user: 'cammarb',
  sort: 'updated',
  per_page: 6,
});

// console.log(result);

// const repo = {
//   name: 'amena',
//   description: 'this is the desciprtion',
//   updated_at: '2023-03-26T15:17:32Z',
//   html_url: 'http://website.com',
// };
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class='flex flex-col'>
    <Header title={SITE_TITLE} />
    <main
      class='min-h-screen flex flex-col place-content-center place-items-center gap-16 mt-10'
    >
      <!-- <div class="w-screen min-h-screen fixed top-0 right-0 left-0 -z-10 bg-slate-200 animate-pulse"></div> -->

      <div class='my-10'>
        <h1 class='font-black'>Hey, I'm Camila 👋</h1>
        <h2 class='font-black'>and I'm a Web Developer.</h2>
        <div
          class='tech-stack grid grid-rows-3 grid-cols-2 gap-2 mt-4 justify-items-stretch sm:grid-rows-2 sm:grid-cols-4'
        >
          <p class='self-end mb-1 col-span-2 sm:col-span-4'>
            Technologies and programming languages:
          </p>
          <TechStack>ReactJS</TechStack>
          <TechStack>Javascript</TechStack>
          <TechStack>Flask</TechStack>
          <TechStack>Python</TechStack>
        </div>
        <div class='mt-10 flex justify-center'>
          <a
            href='https://drive.google.com/file/d/1l6bkdP3v26GdQYF_We_MlgCdsFLKje38/view?usp=share_link'
            target='_blank'
          >
            <Button class={'animate-bounce flex items-center'}>
              <Icon name='ph:file-pdf' width='25' class='pr-2' />
              My resume
            </Button>
          </a>
        </div>
      </div>

      <div class='my-5'>
        <h2 class='font-black mb-5'>Projects I'm currently working on</h2>
        <div class='grid gap-5 grid-cols-1 sm:grid-cols-3'>
          {
            result.data.map((repo) => {
              return (
                <div class='bg-slate-100 rounded justify-center items-center p-4'>
                  <p class='font-bold text-lg mb-1'>{repo.name}</p>
                  <p class='mb-1'>{repo.description}</p>
                  <a
                    href={repo.html_url}
                    class='flex gap-1 text-emerald-400 font-bold mt-1 hover:text-emerald-500'
                  >
                    <Icon name='ri:github-fill' width='20' />
                    GitHub
                  </a>
                  <p class='mt-4'>
                    Last modified on{' '}
                    {new Date(repo.updated_at).toLocaleString('de-DE', {
                      day: 'numeric', // numeric, 2-digit
                      year: 'numeric', // numeric, 2-digit
                      month: 'long', // numeric, 2-digit, long, short, narro
                    })}
                  </p>
                </div>
              );
            })
          }
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
